.calc-container {
    width: 500px;
    height: 600px;
    display: flex;
    flex-flow: column;
    border: 1px solid black;
    padding: 25px;
}

.disp-container {
    display: flex;
    flex-flow: column;
    background-color: rgb(159, 193, 159);
    height: 100px;
    padding: 2px;
    margin: 0;
}

.disp-input, .disp-output {
    display: flex;
    flex: 1;
    border: 2px solid black;
}

.buttons-container {
    display: flex;
    flex: 1 1;
    flex-flow: row;
    border: 1px solid black;
    margin: 10px 0px;
}

.num-buttons-container, .op-buttons-container {
    display: flex;
    gap: 10px;
    margin: 5px;
    /* border: 1px solid black; */
}

    .num-buttons-container {
        flex: 0 0 70%;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        justify-content: center;
    }

        .num-buttons-container button {
            font-size: 50px;
            flex: 0 0 calc(33.33% - 6.67px);
            box-sizing: border-box;
            border-radius: 50%;
        }

    .op-buttons-container {
        flex: 1;
        flex-direction: column;
        justify-content: end;
    }

        .op-buttons-container button {
            font-size: 50px;
            width: 100%;
            flex: 1;
            border-radius: 10%;
        }